header {
    background-color: rgb(56, 56, 56);
}

nav ul {
    display: flex;
    padding: 10px;
}

nav ul li {
    list-style: none;
    padding: 15px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding-left: 25px;
    padding-bottom: 20px;
}

.title {
    display: none;
}

#name {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
}

.sub-title {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 25px;
}

main ul li a {
    text-decoration: none;
    color: black;
}

main ul li a:hover {
    color: tomato;
}

footer {
    background-color: rgb(237, 237, 237);
    padding: 30px 30px;
    font-size: 13px;
}